.women-img {
    /* width: 232px; */
    /* height: 459.06px; */
    padding-left: 35px;
    padding-top: 35px;
}

.next-button {
    background: #00B5AC;
    border-radius: 7px;
    height: 51px;
    width: 164px;
}